/* 

.input-element {
  width: 125px;
} */

.icon-class {
  margin-left: 10px;
  font-size: medium;
}

.add-button {
  color: white;
  float: right;
  background-color: rgb(2, 2, 2);
}

.add-button:hover {
  cursor: pointer;
  color: blue;
  background-color: black;
}

.mainbox {
  box-shadow: 5px 5px 5px grey;
  margin-bottom: 50px;
  height: 50px;
  font: small-caption;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

table {
  width: 100%;
}

.table-css {
  position: absolute;
  left: 28%;
  width: 45%;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: unset !important;
}

.mat-header-cell {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: blue;
}
