.add-button{
    margin-top: 10px;
    color: white;
    float: right;
    background-color: black;
}

.add-button:hover{
    cursor: pointer;
    color: blue;
    background-color: black;
}

.input-element{
    width: 125px;
}