/* .mainbox{
    box-shadow: 5px 5px 5px grey;
    margin-top: 20px;
}

#btn-login:hover{
    cursor: pointer;
    color: blue;
    background-color: black;
    border-color: black;
}

#btn-login{
    background-color: black;
    border-color: black;
    color: white;
}

#login-username{
    height:auto;
}

#login-password{
    height: auto;
}

 */

.sign-up {
  color: blue !important;
  cursor: pointer;
  justify-content: flex-start;
}

:host {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card {
  margin-top: 25px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  /* padding: 16px; */
  /* width: 300px; */
  color: red;
  /* background-color: red; */
}

.button {
  float: right;
}
