<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" class="form-horizontal" (ngSubmit)="login()">
            <p>
                <mat-form-field>
                    <input matInput type="text" class="form-control"
                        formControlName="username" placeholder="Username">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput type="password" class="form-control"
                       formControlName="password" placeholder="Password">
                </mat-form-field>
            </p>
            <p *ngIf="userNotFound" class="error">
                User Not Found
            </p>
            <div>
                <a (click)="newUserRoles()" class="sign-up">New User? Sign Up</a>
                <button class="button" type="submit" mat-button>Login</button>                
            </div>
        </form>
    </mat-card-content>
</mat-card>

<p-dialog header="SIGN UP" [(visible)]="newUserModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <div class="row">
        <div class="col-md-2">
            First Name
        </div>
        <div class="col-md-3">
            <input [(ngModel)]="firstName" type="text" name="firstName" value="" placeholder="First Name">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            Last Name
        </div>
        <div class="col-md-3">
            <input [(ngModel)]="lastName" type="text" name="lastName" value="" placeholder="Last Name">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            User Name
        </div>
        <div class="col-md-3">
            <input [(ngModel)]="userName" type="text" name="userName" value="" placeholder="User Name">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            Role
        </div>
        <div class="col-md-3">
            <p-dropdown [options]="role" [(ngModel)]="roleSelected" class="dropdown-class" placeholder="Please select">
            </p-dropdown>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton class="fa fa-check" (click)="newUserDetails()">Submit</button>
        <button type="button" pButton class="fa fa-times" (click)="newUserModal=false">Cancel</button>
    </p-footer>
</p-dialog>

<p-toast position="center" key="c" [modal]="true" (onClose)="onReject()" [baseZIndex]="15000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="fas fa-check" style="font-size: 3em"></i>
            <h3>{{message1}}</h3>
            <p>{{message2}}</p>
        </div>
    </ng-template>
</p-toast>

<p-toast position="center" key="e" [modal]="true" (onClose)="onReject()" [baseZIndex]="15000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="fas fa-times" style="font-size: 3em"></i>
            <h3>{{message1}}</h3>
            <p>{{message2}}</p>
        </div>
    </ng-template>
</p-toast>